/* Mobile Devices */
@media screen and (max-width: 999px) {
	body {
		background: none;
	}
	
	/* Header */
	.bar .container {
		width: 100%;
	}
	
	.navbar {
		/* background-size: auto; */
	}
	
	.navbar .container {
		width: 100%;
	}
	
	.navbar-header #logo {
		margin-left: 1px;
	}
	
	#breadcrumb-2 {
		margin-left: 5px;
	}
	
	.video {
		display: none;
	}
	
	/* Main */
	.main {
		width: 100%;
	}
	
	main .container-1 {
		margin-top: 140px;
	}
	
	.content-2 {
		max-width: 100% !important;
		padding: 20px;
	}
	
	.content-3 {
		width: auto;
	    padding: 20px;
	}
	
	/* page */
	#block-system-main .node-page img {
		max-width: 100%;
		margin-right: 20px !important;
	}
	
	/* Right */
	.right {
		display: none;
	}
	
	/* Bottom */
	.block-bottom {
		margin-top: 20px;
		margin-bottom: 0;
	}
	
	.block-bottom .container {
		width: 100%;
	}
	
	/* Footer */
	footer .container {
		width: 100%;
		margin-bottom: 55px;
	}
	
	/* Menu hide */
	.menu-hide {
		display: block;
		background: #fff;
		position: fixed;
		width: 100%;
		height: 55px;
		left: 0;
		right: 0;
		bottom: 0;
		border-top: 2px solid #ffc20e;
	}
	
	.menu-hide ul {
		padding: 0;
	}
	
	.menu-hide li {
		display: block;
		float: left;
		width: 33.2222222222%;
		text-align: center;
		list-style: none;
	}
	
	.menu-hide li a {
		display: block;
		line-height: 55px;
		text-decoration: none;
		font-size: 12px;
		color: #000;
	}
	
	.menu-hide li a:hover {
		background: #eee;
	}
	
	.menu-hide li.home {
		border-right: 1px solid #ddd;
	}
	
	.menu-hide li.news {
		/*border-right: 1px solid #ddd;*/
	}
	
	.menu-hide li.catalog {
		background: #ffc20e;
	}
	
	/* fontawesome */
	.menu-hide li.home a:before {
		font-family: "FontAwesome";
		content: "\f015";
		padding-right: 10px;
		text-align: center;
		font-size: 18px;
	}
	
	.menu-hide li.news a:before {
		font-family: "FontAwesome";
		content: "\f15c";
		padding-left: 2px;
		padding-right: 12px;
		font-size: 14px;
	}
	
	.menu-hide li.catalog a:before {
		font-family: "FontAwesome";
		content: "\f07c";
		padding-left: 2px;
		padding-right: 10px;
		font-size: 14px;
	}
	
	/* Cookie */
	.cookie {
		font-size: 11px;
		line-height: 15px;
	}
	
	#block-block-7 p {
		margin-left: 5px;
	}
	
	/* Карта (home) */
	#block-block-14 {
		display: none;
	}
	
	/* News */
	#block-views-news-home-block,
	#block-views-news-block {
		width: 100% !important;
	}
	
	#block-views-news-home-block h2 {
		margin-bottom: 0 !important;
	}
	
	#block-views-news-home-block .views-row {
		border-top: #ddd solid 0 !important;
		border-left: #ddd solid 1px;
		border-right: #ddd solid 1px;
		border-bottom: #ddd solid 1px;
	}
	
	#block-views-news-home-block .views-row-2,
	#block-views-news-home-block .views-row-3,
	#block-views-news-home-block .views-row-4,
	#block-views-news-home-block .views-row-5 {
		margin-top: 0 !important;
	}
	
	#block-views-news-home-block .views-field-field-image2 img,
	#block-views-news-block .views-field-field-image2 img {
		max-width: 120px;
		max-height: 120px;
	}
	
	#block-views-news-home-block .views-field-title,
	#block-views-news-block .views-field-title {
		text-align: left;
		zoom: 0.70;
	}
	
	/* news page */
	#block-system-main .node-news .field-name-field-image2 img {
		max-width: 100%;
		height: auto;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	#block-system-main .node-news p img {
		display: none;
	}
	
	/* События */
	#block-block-11 {
		width: 100% !important;
		margin-top: 20px;
	}
	
	#block-block-11 h2 {
		margin-bottom: 0 !important;
		border-bottom: 1px solid #ddd;
	}
	
	#block-block-11 .grid0,
	#block-block-11 .grid1,
	#block-block-11 .grid2,
	#block-block-11 .grid3,
	#block-block-11 .grid4,
	#block-block-11 .grid5 {
		padding-right: 40px;
		border-top: 0 !important;
	}
	
	#block-block-11 .grid1,
	#block-block-11 .grid2,
	#block-block-11 .grid3,
	#block-block-11 .grid4,
	#block-block-11 .grid5 {
		margin-top: 0 !important;
	}
	
	#block-block-11 figure {
		min-width: 100% !important;
		max-width: 100% !important;
	}
	
	#block-block-11 img {
		min-width: 100%;
	}
	
	/* Views Catalog */
	#block-views-catalog-block .view-grouping {
		display: block !important;
		width: 100% !important;
		margin-left: 0 !important;
	}
	
	#block-views-catalog-block .view-grouping-header {
		height: auto !important;
	}
	
	#block-views-catalog-block .view-grouping-content img  {
		width: 50%;
		height: auto;
	}
	
	#block-views-catalog-block .view-grouping-content a[href*="/660"] {
		display: none;
	}
	
	/* pdf */
	#block-block-18 .block-pdf a {
		padding: 20px 0 !important;
	}
	
	#block-block-18 .block-pdf a:before {
		padding: 0 20px !important;	
	}
	
	#block-block-18 .block-pdf a.pdf-1 {
		width: 100% !important;
		height: auto !important;
	}
	
	#block-block-18 .block-pdf a.pdf-2 {
		width: 100% !important;
		height: auto !important;
		margin: 20px 0 0 0 !important;
	}
	
	#block-block-18 .block-pdf a.pdf-3 {
		width: 100% !important;
		height: auto !important;
		margin: 20px 0 0 0 !important;
	}
	
	#block-block-18 .block-pdf a.pdf-4 {
		width: 100% !important;
		height: auto !important;
		margin: 20px 0 0 0 !important;
	}
	
	/* Catalog Page */
	.node-catalog .field-name-field-image {
		max-width: 100%;
		min-width: 100%;
	}
	
	/* jqtabs */	
	.node-catalog .field-name-field-jqtabs {
		display: none;
		width: 100% !important;
	}
	
	/* video */
	.node-catalog .field-name-field-video {
		width: 100% !important;
	}
	
	.node-catalog iframe {
		width: 100%;
		height: auto;
	}
	
	/* no video */
	.node-catalog .field-name-field-no-video {
		display: none;
	}
	
	/* info */
	.node-catalog .field-name-field-dop-info {
		display: none;
	}
	
	/* lnk */
	.node-catalog .field-name-field-dop-link {
		width: 100% !important;
		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}
	
	.lnk-btn a {
		padding: 10px 10px !important;
	}
	
	.lnk-pdf a {
		padding: 10px 10px !important;
	
	}
	
	.lnk-print a {
		padding: 10px 10px !important;
	}
	
	/* body */
	.node-catalog .field-name-body {
		width: 100% !important;
		margin-left: 0 !important;
	}
	
	.node-catalog fieldset.collapse-text-fieldset {
		display: none;
	}
	
	/* Catalog Order */
	#node-636 img {
		display: none;
	}
	
	.webform-client-form-636 {
		padding-top: 0 !important;
	}
	
	.webform-client-form-636 .webform-component {
		float: none !important;
	}
	
	.webform-client-form-636 label {
		width: auto !important;
	}
	
	.webform-client-form-636 input,
	.webform-client-form-636 select {
		width: 100% !important;
	}
	
	.webform-client-form-636 textarea {
		width: 100% !important;
	}
	
	.webform-client-form-636 input.form-submit {
		width: 100% !important;
		margin-top: 10px;
		margin-left: 0 !important;
	}
	
	/* privacy policy */
	.webform-client-form-636 .form-item-fz152-agreement input {
		width: auto !important;
		margin-top: 5px !important;
		margin-left: 0 !important;
		margin-right: 10px;
	}
	
	.webform-client-form-636 .form-item-fz152-agreement label {
		width: auto !important;
		float: none !important;
		padding: 0 !important;
	}
	
	/* Фото */
	#block-views-gallery-block {
		display: none;
	}
	
	#block-block-19 {
		display: inline-block !important;
	}
	
	#block-block-19 img {
		width: 135px;
		height: auto;
	}
	
	/* Gallery */
	.galleryformatter {
		max-width: 100%;
	}
	
	.galleryformatter-greenarrows .gallery-slides {
		max-width: 100%;
	}
	
	.galleryformatter-greenarrows .gallery-thumbs {
		display: none;
	}
	
	/* Menu */
	#superfish-1 {
		display: none !important;
	}
	
	#block-responsive-dropdown-menus-main-menu {
		display: block !important;
	}
	
	#block-responsive-dropdown-menus-main-menu h2 {
		display: none;
	}
	
	#block-responsive-dropdown-menus-main-menu .menu-toggle .toggle-help {
		display: none;
	}
	
	#block-responsive-dropdown-menus-main-menu .menu-toggle {
		display: block;
		float: right;
		margin-top: 50px;
		margin-right: 5px;
	}
	
	#block-responsive-dropdown-menus-main-menu .menu-toggle .lines {
		background-color: #ffc20e;
	}
	
	#block-responsive-dropdown-menus-main-menu .menu-toggle .line {
		background-color: #fff;
		border-bottom: 1px solid #fff;
	}
	
	#block-responsive-dropdown-menus-main-menu .menu-toggled {
		background-color: #fff;
		display: block !important;
		position: absolute;
		width: 100%;
		top: 0;
		margin-top: 140px;
		border-top: 2px solid #ffc20e;
		z-index: 500;
		-webkit-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 2);
		-moz-box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 2);
		box-shadow: 0 4px 10px -6px rgba(0, 0, 0, 2);
	}
	
	#block-responsive-dropdown-menus-main-menu ul.main-menu {
		display: none;
	}
	
	#block-responsive-dropdown-menus-main-menu ul {
		position: relative;
		max-height: none;
		padding: 0;
	}

	#block-responsive-dropdown-menus-main-menu li a {
		display: block;
		width: auto;
		padding: 15px 20px;
		border-bottom: 1px solid #ddd;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 400;
		font-size: 15px;
		color: #000;
	}
	
	#block-responsive-dropdown-menus-main-menu li a:hover {
		background-color: #eee;
	}
	
	#block-responsive-dropdown-menus-main-menu li a.active {
		color: #ffc20f;
	}
	
	/* fontawesome */
	#block-responsive-dropdown-menus-main-menu li#menu-item-6264 a:before {
		font-family: "FontAwesome";
		content: "\f015";
		padding-right: 10px;
		font-size: 18px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1567 a:before {
		font-family: "FontAwesome";
		content: "\f05a";
		padding-right: 12px;
		font-size: 18px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1568 a:before {
		font-family: "FontAwesome";
		content: "\f15c";
		padding-left: 2px;
		padding-right: 12px;
		font-size: 14px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1569 a:before {
		font-family: "FontAwesome";
		content: "\f07c";
		padding-left: 2px;
		padding-right: 10px;
		font-size: 14px;
	}

	#block-responsive-dropdown-menus-main-menu li#menu-item-7310 a:before {
		font-family: "FontAwesome";
		content: "\f19d";
		padding-right: 10px;
		font-size: 15px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-414 a:before {
		font-family: "FontAwesome";
		content: "\f083";
		padding-left: 2px;
		padding-right: 12px;
		font-size: 14px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-415 a:before {
		font-family: "FontAwesome";
		content: "\f03d";
		padding-left: 2px;
		padding-right: 12px;
		font-size: 15px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-7579 a:before {
		font-family: "FontAwesome";
		content: "\f10b";
		padding-left: 4px;
		padding-right: 14px;
		font-size: 21px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-421,
	#block-responsive-dropdown-menus-main-menu li#menu-item-423,
	#block-responsive-dropdown-menus-main-menu li#menu-item-419,
	#block-responsive-dropdown-menus-main-menu li#menu-item-5763,
	#block-responsive-dropdown-menus-main-menu li#menu-item-422,
	#block-responsive-dropdown-menus-main-menu li#menu-item-418,
	#block-responsive-dropdown-menus-main-menu li#menu-item-424,
	#block-responsive-dropdown-menus-main-menu li#menu-item-421,
	#block-responsive-dropdown-menus-main-menu li#menu-item-2000,
	#block-responsive-dropdown-menus-main-menu li#menu-item-1014,
	#block-responsive-dropdown-menus-main-menu li#menu-item-416,
	#block-responsive-dropdown-menus-main-menu li#menu-item-427,
	#block-responsive-dropdown-menus-main-menu li#menu-item-370,
	#block-responsive-dropdown-menus-main-menu li#menu-item-5809,
	#block-responsive-dropdown-menus-main-menu li#menu-item-431,
	#block-responsive-dropdown-menus-main-menu li#menu-item-432,
	#block-responsive-dropdown-menus-main-menu li#menu-item-6220,
	#block-responsive-dropdown-menus-main-menu li#menu-item-7311 {
		display: none;
	}
	
	#block-responsive-dropdown-menus-main-menu li a[href*="http://#"] {
		display: none;
	}
	
	/* 1569 */
	#block-responsive-dropdown-menus-main-menu li#menu-item-1569 .plus:after {
		font-family: "FontAwesome";
		content: "\f0fe";
		float: right;
		padding-top: 2px;
		font-size: 16px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1569 .minus:after {
		font-family: "FontAwesome";
		content: "\f146";
		float: right;
		padding-top: 2px;
		font-size: 16px;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1569 ul {
		display: none;
		max-height: 380px;
		overflow: auto;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1569 ul li span {
		display: none;
	}
	
	#block-responsive-dropdown-menus-main-menu li#menu-item-1569 ul li a:after {
		display: none;
	}
	
	#block-responsive-dropdown-menus-main-menu ul li#menu-item-1569 ul ul li a {
		text-transform: none;
	}
	
	#block-responsive-dropdown-menus-main-menu ul li#menu-item-1569  ul ul li a:before {
		display: none;
	}
	
	/* Мультимедиа */
	#block-quicktabs-multimedia-video table td {
		display: table;
	}
	
	#block-quicktabs-multimedia-video iframe {
		width: 100%;
	}
	
	/* Поиск */
	#block-search-form {
		position: absolute !important;
		max-width: 100% !important;
		left: 0;
		right: 0;
		margin-left: 15px;
		padding-left: 30px !important;
		margin-right: 81px !important;
	}
	
	#block-search-form input[type='text'] {
		width: 100% !important;
		float: right !important;
	}
	
	/* node */
	.search-form label {
		display: block;
		text-align: left;
	}
	
	.search-form input[type='text'] {
		width: 100%;
	}
	
	#search-form input[type='submit'] {
		width: auto;
		margin-top: 5px !important;
	}
	
	/* Pager */
	ul.pager {
		line-height: 50px;
	}
	
	/* Back-top */
	#back-top {
		right: 20px;
	}
	
	#back-top a {
		background: url(../images/backtotop.png) 50% 12% no-repeat;
		width: 50px;
		height: 50px;
	}
	
	/* Tabs */
	ul.primary {
		width: 100%;
		float: left;
		padding: 0;
	}
	
	ul.primary li {
		display: block;
		float: left;
		line-height: 25px;
	}
	
	/* 404 PAGE NOT FOUND */	
	.err-left {
		width: 100%;
		text-align: center;
	}
	
	.err {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100px;
	}
	
	.err-2 {
		width: 100%;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 30px;
	}
	
	.err-title {
		text-align: left;
		font-size: 20px;
	}
	
	.err-body {
		text-align: left;
	}
}

/* Iphone 5 */
@media screen and (max-width: 320px) {
	/* lnk */
	.lnk-btn a {
		padding: 10px 5px !important;
	}
	
	.lnk-pdf a {
		padding: 10px 5px !important;
	}
	
	.lnk-print a {
		padding: 10px 5px !important;
	}
}

/* Tablet Devices */
@media screen and (min-width: 768px) {
	/* Menu */
	#block-responsive-dropdown-menus-main-menu .menu-toggle {
		margin-top: 65px;
	}
	
	/* Мультимедиа */
	#block-quicktabs-multimedia-video table td {
		display: inline-block;
	}
	
	#block-quicktabs-multimedia-video iframe {
		width: 160px;
	}
}

/* Medium Desktop */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
	/* Header */
	.bar .container {
		width: 100%;
	}
	
	.navbar .container {
		width: 100%;
	}
	
	.video {
		display: block;
	}
	
	/* Main */
	.main {
		width: 100%;
	}
	
	.content-2 {
		max-width: 100% !important;
		padding: 20px;
	}
	
	.content-3 {
		width: 60%;
		padding: 20px 390px 20px 20px;
	}
	
	/* page */
	#block-system-main .node-page img {
		margin-right: 20px !important;
	}
	
	/* Right */
	.right {
		margin-left: -365px !important;
	}
	
	/* Bottom */
	.block-bottom .container {
		width: 100%;
	}
	
	/* Footer */
	footer .container {
		width: 100%;
	}
	
	#block-block-7 p {
		margin-left: 5px;
	}
	
	/* Карта (home) */
	#block-block-14 {
		max-width: 100%;
	}
	
	#block-block-14 img {
		max-width: 100%;
	}
	
	/* Карта */
	#node-419 img {
		max-width: 100%;
	}
	
	/* News */
	#block-views-news-home-block {
		width: 61.5% !important;
	}
	
	/* Интервью */
	.view-interview-video .views-field-field-video-embed iframe {
		width: 200px !important;
	}
	
	/* Фото */
	.view-gallery .cols-5 {
		float: left;
	}
	
	.view-gallery .col-1 {
		float: left;	
	}
	
	.view-gallery .col-2 {
		float: left;
		padding-left: 33px !important;
	}
	
	.view-gallery .col-3 {
		float: left;
		padding-left: 33px !important;
	}
	
	.view-gallery .col-4 {
		float: left;
		padding-left: 33px !important;
	}
	
	.view-gallery .col-5 {
		float: left;
		padding-top: 20px !important;
		padding-left: 0 !important;
	}
	
	.view-gallery .row-2 .col-1 {
		padding-bottom: 20px;
	}
	
	/* Menu */
	#superfish-1 li a {
		font-size: 110% !important;
	}
	
	/* max */
	#superfish-1 li#menu-1569-1 ul {
		left: -420px !important;
	}
	
	#superfish-1 li#menu-5927-1 {
		margin: 40px 0 0 45px !important;
	}
	
	#superfish-1 li#menu-5934-1 {
		margin: 40px 0 0 0 !important;
	}
	
	#superfish-1 li#menu-5939-1 {
		margin: 40px 0 0 0 !important;
	}
	
	#superfish-1 li#menu-5945-1 {
		margin: 40px 0 40px 45px !important;
	}
	
	#superfish-1 li#menu-5951-1 {
		margin: 40px 0 40px 0 !important;
	}
	
	#superfish-1 li#menu-5955-1 {
		margin: 40px 0 40px 0 !important;
	}
	
	/* СМИ */
	.view-media .cols-5 {
		float: left;
	}
	
	.view-media .col-1 {
		float: left;	
	}
	
	.view-media .col-2 {
		float: left;
		padding-left: 31px !important;
	}
	
	.view-media .col-3 {
		float: left;
		padding-left: 31px !important;
	}
	
	.view-media .col-4 {
		float: left;
		padding-left: 31px !important;
	}
	
	.view-media .col-5 {
		float: left;
		padding-top: 20px !important;
		padding-left: 0 !important;
	}
	
	/* Мультимедиа */	
	#block-quicktabs-multimedia-video iframe {
		width: 225px;
	}
	
	/* Виртуальные экскурсии */
	.view-virtual-tours .col-1, 
	.view-virtual-tours .col-2 {
		display: block;
		float: left;
	}
	
	.view-virtual-tours .col-3 {
		float: left;
		padding-top: 20px;
		padding-left: 0 !important;
	}
	
	/* Views Catalog */
	#block-views-catalog-block .view-grouping {
		width: 285px !important;
	}
	
	#block-views-catalog-block .view-grouping-header {
		height: 75px !important;
	}
	
	/* pdf */
	#block-block-18 .block-pdf a {
		padding: 20px 0 !important;
	}
	
	#block-block-18 .block-pdf a:before {
		padding: 5px 20px !important;
		padding-bottom: 40px !important;	
	}
	
	#block-block-18 .block-pdf a.pdf-1 {
		width: 230px !important;
		height: 130px !important;
	}
	
	#block-block-18 .block-pdf a.pdf-2 {
		width: 230px !important;
		height: 130px !important;
		margin-left: 32px !important;
	}
	
	#block-block-18 .block-pdf a.pdf-3 {
		width: 230px !important;
		height: 130px !important;
		margin-left: 32px !important;
	}
	
	#block-block-18 .block-pdf a.pdf-4 {
		width: 230px !important;
		height: 130px !important;
		margin-left: 32px !important;
	}
	
	/* Catalog Page */
	.node-catalog .field-name-body {
		width: 455px !important;
		margin-left: 20px !important;
	}
	
	/* Catalog Order */
	.webform-client-form-636 label {
		width: 10% !important;
	}
	
	/* privacy policy */
	.webform-client-form-636 .form-item-fz152-agreement input {
		margin-left: 14% !important;
	}
	
	.webform-client-form-636 .form-item-fz152-agreement label {
		width: auto !important;
	}
	
	/* Поиск */
	.search-form label {
		display: block;
		text-align: left;
	}
	
	.search-form input[type='text'] {
		width: 100%;
	}
	
	#search-form input[type='submit'] {
		width: auto;
		margin-top: 5px !important;
	}
	
	/* Pager */
	ul.pager {
		line-height: 50px;
	}
	
	/* 404 PAGE NOT FOUND */
	.err-right {
		width: 72%;
	}
}

@media screen and (min-width: 1280px) and (max-width: 1280px) {
	/* Main */
	.content-3 {
		width: 67.5%;
	}
	
	/* News */
	#block-views-news-home-block {
		width: 68.8% !important;
	}
	
	/* Фото */
	.view-gallery .col-2 {
		padding-left: 30px !important;
	}
	
	.view-gallery .col-3 {
		padding-left: 30px !important;
	}
	
	.view-gallery .col-4 {
		padding-left: 30px !important;
	}
	
	.view-gallery .col-5 {
		padding-top: 0 !important;
		padding-left: 30px !important;
	}
	
	.view-gallery .row-2 .col-1 {
		padding-bottom: 20px;
	}
	
	/* Menu */
	/* max */
	#superfish-1 li#menu-1569-1 ul {
		left: -692px !important;
	}
	
	#superfish-1 li#menu-5927-1 {
		margin: 40px 0 0 100px !important;
	}
	
	#superfish-1 li#menu-5934-1 {
		margin: 40px 0 0 100px !important;
	}
	
	#superfish-1 li#menu-5939-1 {
		margin: 40px 0 0 100px !important;
	}
	
	#superfish-1 li#menu-5945-1 {
		margin: 40px 0 40px 100px !important;
	}
	
	#superfish-1 li#menu-5951-1 {
		margin: 40px 0 40px 100px !important;
	}
	
	#superfish-1 li#menu-5955-1 {
		margin: 40px 0 40px 100px !important;
	}
	
	/* СМИ */
	.view-media .col-2 {
		padding-left: 28px !important;
	}
	
	.view-media .col-3 {
		padding-left: 28px !important;
	}
	
	.view-media .col-4 {
		padding-left: 28px !important;
	}
	
	.view-media .col-5 {
		padding-top: 0 !important;
		padding-left: 28px !important;
	}
	
	/* Мультимедиа */
	#block-quicktabs-multimedia-video iframe {
		width: 289px;
	}
	
	/* Views Catalog */
	#block-views-catalog-block .view-grouping {
		width: 365px !important;
	}
	
	#block-views-catalog-block .view-grouping-header {
		height: 50px !important;
	}
	
	/* pdf */
	#block-block-18 .block-pdf a:before {
		padding-bottom: 40px !important;
	}
	
	#block-block-18 .block-pdf a.pdf-1 {
		width: 295px !important;
		height: auto !important;
	}
	
	#block-block-18 .block-pdf a.pdf-2 {
		width: 295px !important;
		height: auto !important;
		margin-left: 31px !important;
	}
	
	#block-block-18 .block-pdf a.pdf-3 {
		width: 295px !important;
		height: auto !important;
		margin-left: 30px !important;
	}
	
	#block-block-18 .block-pdf a.pdf-4 {
		width: 295px !important;
		height: auto !important;
		margin-left: 31px !important;
	}
	
	/* Catalog Page */
	.node-catalog .field-name-body {
		width: 700px !important;
	}
	
	/* Catalog Order */
	.webform-client-form-636 input.form-submit {
		margin-left: 120px !important;
	}
}

@media screen and (min-width: 1366px) {
	/* Мультимедиа */
	#block-quicktabs-multimedia-video iframe {
		width: 295px;
	}
}