<header>
  <div class="header">
    <div class="container">
      {{ page.header }}
	</div>
	<div class="navbar">
	  {{ page.menu }}
	</div>
  </div>
</header>

<main>
  <div class="main">
    <div class="container">
	  <section>
		<div class="content">
		  {{ page.content }}
		</div>
	  </section>
	</div>
  </div>
</main>

<footer>
  <div class="footer">
    <div class="container">
      {{ page.footer }}
	</div>
  </div>
</footer>